<div class="App">
  <nav>
    <label for="deltaNumber">Number of items:
      <input type="number" id="deltaNumber" name="deltaNumber"
             value={{deltaNumber}}
             min="0" max={{dataLength}}
             (change)=changeNumber($event)>
    </label>
    <label for="start">Start date:
      <input type="date" id="end" name="trip-end"
             value={{lastShowedDate}}
             min={{lastDate}} max={{firstShowedData}}
             (change)=changeLastDate($event)>
    </label>
    <label for="end">End date:
      <input type="date" id="start" name="trip-start"
             value={{firstShowedData}}
             min={{lastShowedDate}} max={{firstData}}
             (change)=changeFirstDate($event)>
    </label>
  </nav>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>ricoverati con sintomi - hospitalized with symptoms</th>
      <th>terapia intensiva - intensive care</th>
      <th>totale ospedalizzati- total hospitalized</th>
      <th>variazione totale positivi - total positive change</th>
      <th>nuovi positivi - new positives</th>
      <th>deceduti - deceased</th>
      <th>totale casi - total cases</th>
      <th>ingressi terapia intensiva - intensive care entrances</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of data | async">
      <th>{{d.data | date:"dd/MM/yyyy"}}</th>
      <td>{{d.ricoverati_con_sintomi}}</td>
      <td>{{d.terapia_intensiva}}</td>
      <td>{{d.totale_ospedalizzati}}</td>
      <td>{{d.variazione_totale_positivi}}</td>
      <td>{{d.nuovi_positivi}}</td>
      <td>{{d.deceduti}}</td>
      <td>{{d.totale_casi}}</td>
      <td>{{d.ingressi_terapia_intensiva}}</td>
    </tr>
    </tbody>
  </table>
</div>
